.Nutritional {
    display: flex;
    margin-top: 92px;
    min-height: 516px;
    align-items: center;
    margin-bottom: 74px;
    background-size: cover;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../assets/images/nutritional.png');
}

.Nutritional h3 {
    width: 100%;
    font-size: 50px;
    max-width: 906px;
    color: #FFFFFF;
    line-height: 61px;
    text-align: center;
    margin-bottom: 11px;
}

.Nutritional p {
    width: 100%;
    margin: auto;
    max-width: 687px;
    color: #777777;
    line-height: 37px;
    text-align: center;
}

.Nutritional .btns {
    display: flex;
    justify-content: center;
}

.Nutritional button {
    width: 218px;
    height: 47px;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 600;
    margin-top: 30px;
    line-height: 37px;
    margin-right: 17px;
    font-style: normal;
    font-family: 'Montserrat';
}

.Nutritional .playBtn {
    background: #0082BD;
}

.Nutritional .courseBtn {
    background: none;
    border: 2px solid #FFFFFF;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .Nutritional h3 {
        font-size: 45px;
        max-width: 520px;
    }

    .Nutritional p {
        max-width: 520px;
    }
}

@media screen and (max-width: 520px) {
    .Nutritional {
        margin-top: 50px;
        min-height: 380px;
        margin-bottom: 40px;
    }

    .Nutritional h3 {
        font-size: 25px;
        max-width: 320px;
        line-height: 35px;
    }

    .Nutritional p {
        font-size: 12px;
        max-width: 300px;
        line-height: 20px;
    }

    .Nutritional .btns {
        align-items: center;
        flex-direction: column;
    }

    .Nutritional button {
        width: 150px;
        height: 40px;
        font-size: 12px;
        margin-right: 0px;
    }
}